# Server
DASHBOARD_SERVER_HOST=127.0.0.1
DASHBOARD_SERVER_PORT=3050

# Database
DASHBOARD_DB_PATH=./data/dashboard.sqlite

# Sonarr
SONARR_URL=http://localhost:8989
SONARR_APIKEY=
SONARR_PORT=8989
SONARR_EXTERNAL_URL=

# Radarr
RADARR_URL=http://localhost:7878
RADARR_APIKEY=
RADARR_PORT=7878
RADARR_EXTERNAL_URL=

# Jellyfin
JELLYFIN_URL=http://localhost:8096
JELLYFIN_APIKEY=
JELLYFIN_PORT=8096
JELLYFIN_EXTERNAL_URL=

# Docker
DOCKER_URL=http://localhost:2375
DOCKER_PORT=2375
DOCKER_EXTERNAL_URL=