references/*

# dependencies
node_modules
.pnpm-store/

*.ignore.*
!**/scripts/*
.working

# environment
.env
.env.*
!.env.example
*.sqlite
*.sqlite-journal

# agents
.claude/
CLAUDE.md
docs/adr/
AGENTS.md
.opencode/
openspec/
odd/
.github/
.atl/
.codegraph/

# vitest coverage
coverage/
coverage/*.html
coverage/*.xml
coverage/*.json
coverage/*.lcov
