references/*

# dependencies
node_modules
.pnpm-store/

*.ignore.*
!**/scripts/*
.working

# environment
.env
.env.*
!.env.example
*.sqlite
*.sqlite-journal

# agents
.claude/
CLAUDE.md
docs/adr/
AGENTS.md
